*.iml
.gradle
/local.properties
/.idea/misc.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
.DS_Store
/build
/captures
.externalNativeBuild
/keystore.properties
/gradle.properties
